.carousel-slides {
  @apply sm:[--cw:640px] md:[--cw:768px] lg:[--cw:1024px] xl:[--cw:1280px] 2xl:[--cw:1536px];
  @apply inset-x-0;
  display: flex;
  overflow: scroll hidden;
  scroll-behavior: smooth;
  --margin: calc(50vw - var(--cw) / 2 + var(--container-padding));
}
.carousel-slides::after,
.carousel-slides::before {
  content: "";
  width: var(--margin);
  flex-shrink: 0;
}

.carousel-slides::-webkit-scrollbar {
  height: 0.25rem;
}

.carousel-slides::-webkit-scrollbar-track {
  @apply rounded bg-foreground/10;
  margin: 0rem var(--margin);
}

.carousel-slides::-webkit-scrollbar-thumb {
  @apply cursor-pointer rounded bg-primary/80 transition-colors;
  &:hover {
    @apply bg-primary;
  }
}
